<div class='heading'>
    <div style='float:left;'><h1>CPSC 4300/6300: Applied Data Science</h1></div>
     <img style="float: right; padding-right: 10px" width="100" src="https://raw.githubusercontent.com/bsethwalker/clemson-cs4300/main/images/clemson_paw.png"> </div>
     </div>

**Clemson University**<br>
**Instructor(s):** Aaron Masino <br>

## Homework 2: Exploratory Data Analysis and Visualization
This homework is intended to assess your knowledge of core elements the Python Pandas, matplotlib, and seaborn libraries and their use in exploratory data analysis. As presented in the class, Pandas is a library for manupilating tabular data, and matplotlib and seaborn enable creation of many types of data plots. You may refer to the course lectures and labs while completing this assignment. For complete information, you may reference:
-  Python documentation [here](https://www.python.org/)
-  Pandas documentation [here](https://pandas.pydata.org/)
-  matplotlib documentation [here](https://matplotlib.org/)
-  seaborn documentation [here](https://seaborn.pydata.org/).

# Setup Instructions
In the exercises below, you will further explore the _goodreads.csv_ data that was used in the lab session.

### Before beginning the exercises:
Execute code cells 1 & 2 below. These will:
-  import the required Python packages
-  load the _goodreads.csv_ data into a Pandas DataFrame
-  transform the DataFrame so that it is in the correct format to begin the exercises.

To begin, first import the Python packages that are required for this homework:

In [ ]:
####################  DO NOT MODIFY THIS CELL  ####################
# Cell 1 - execute this cell to import necessary libraries
####################  DO NOT MODIFY THIS CELL  ####################

# import the necessary libraries
import numpy as np
import scipy as sp
import matplotlib as mpl
import matplotlib.cm as cm
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

# mount the google drive - this is necessary to access supporting resources
from google.colab import drive
drive.mount("/content/drive")

Next, load the data from _goodreads.csv_ file into a Pandas DataFrame object and transform it to prepare it for the exerices. These steps follow the procedures shown in the lab session.

In [ ]:
####################  DO NOT MODIFY THIS CELL  ####################
# Cell 2 - execute this cell to load the goodreads.csv data and transform the data
####################  DO NOT MODIFY THIS CELL  ####################

# load good_reads.csv data into a DataFrame
# The goodreads file does not include a header row. So we need to add the headers manually and tell pandas to not add headers.
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/cpsc-4300-6300/data/goodreads.csv', encoding='utf-8', header=None,
                  names=['rating', 'review_count', 'isbn', 'booktype','author_url', 'year', 'genre_urls', 'dir','rating_count', 'name'])

# drop rows with missing numerical values
df = df[df.year.notnull() & df.rating.notnull() & df.review_count.notnull() & df.rating_count.notnull()]

# cast all numerical columns except rating to integer data type
for c in ['year', 'review_count', 'rating_count']:
    df[c] = df[c].astype(int) # convert these columns to int

# cast string columns to string data type
for c in df.columns:
    if c not in ['rating', 'year', 'rating_count', 'review_count']:
        df.loc[df[c].isnull(), c] = ""
        df[c] = df[c].astype('string')

# add an author column to the DataFrame
df['author'] = df.author_url.apply(lambda x: x.split('/')[-1].split('.')[1])

# print the types. Expected output is rating: float64;  year, review_count, rating_count: int64; all others: string[python]
print(df.dtypes)
# print the shape. Expected output is (5993, 11)
print(df.shape)

### Excercise 1 (1 point)
In the code cell below, print the names of the first 5 authors in the DataFrame, `df`. Only print the author names. Do not print the other columns.

In [ ]:
######## YOUR CODE HERE ########

### Exercise 2 (1 point)
In the code cell below, print the 100 through 110 author names. Rember, DataFrame indices are 0 based.

In [ ]:
######## YOUR CODE HERE ########

### Exercise 3 (1 point)
In the code cell below, print the name of the book with the longest name. Hint: The numpy.max and Pandas .max functions will __NOT__ work. Those functions return the item that would be last if the items were sorted alphabetically.

In [ ]:
######## YOUR CODE HERE ########

### Exercise 4 (1 point)
In the code cell below, calculate the _mean_ value of _rating_ for the sample of books that were published in the thirty (30) years from 1974 up to 2004, i.e., [1974,2004).

In [ ]:
######## YOUR CODE HERE ########

### Excercise 5 (1 point)
In class we saw how to parse the values of `author_url` to obtain a column with just the author name.  The `genre_urls` values are of the form `/genres/genre_name_1|/genres/genre_name_2`. In this excercise, you are aksed to:
- parse the values of the `genre_urls` to form a string that contains just the genre names contained in the URL separated by the `|` character
- create a new column in the DataFrame named `genres` that contains the new value

The cell below contains sample code that shows some of the values of `genre_urls` in the DataFrame, and how to split and join a `genre_urls` value. In this exercise, consider how to use this code to create the new `genres` column.

In [ ]:
# Let's look at the first few rows of the genre_urls column
print("The first few rows of the genre_urls column are:")
print(df.genre_urls.head(3))

# This sample code shows how to split the genre_urls string, select the genre part of the URL, and join the genres using the '|' separator
test_genre_string=df.genre_urls[0]
genres=test_genre_string.strip().split('|') # NOTICE the .strip() method which removes leading/trailing whitespaces from strings
print("\n\nFor the first row, the new genres column would be:")
print('|'.join([genre.split('/')[-1] for genre in genres]))

######## YOUR CODE HERE ########


######## END YOUR CODE HERE ########

# display the first few rows of the genres column to see if the result is as expected
print("\n\nDoes the genre column look like what is expected?")
print(df.genres.head())

### Excercise 6 (2 point)

In the code cell below:
- convert the new DataFrame, `df_genres` to one that has _ONLY_ the `rating`, `author` and `genres` columns
- groupby by the `author` variable and aggregate the `rating` variable using the mean and joining the `genres` with a `|`
- convert the `genres` column values to a list of the distinct genres the author has published in. A given genre should only be in the author's list at most 1 time. Hint: review list and set from the second lab.

In [ ]:
df_genres = df.copy()

######## YOUR CODE HERE ########


######## END YOUR CODE HERE ########
df_genres.head()

### Exercise 7 (1 point)
In the code cell below, display the names of the five (5) authors who written books for the most number of distinct genres.

In [ ]:
######## YOUR CODE HERE ########

### Exercise 8 (1 point)
In the code cell below, plot the kernel density estimate (KDE) for the _goodreads_ ratings contained in the `df` DataFrame.

In [ ]:
######## YOUR CODE HERE ########

### Exercise 9 (1 points)
Create a line plot showing mean rating for books published in each year. The x-axis should show the distinct years in the data (this has been done for you) and the y-axis should mean ratings. Do you see any trend in this plot?

In [ ]:
years = df.year.unique()
years.sort()

######## YOUR CODE HERE ########